<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
  <add key="Subscribekey" value=""/> 
  <add key="Publishkey" value=""/>     
  <add key="uuid" value="testUUID"/>     
  <add key="uuid2" value="testUUID2"/>     
  <add key="channel" value="testchannel"/> 
</appSettings>
</configuration>
